.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.re-label.navbar-brand(href='/') The Realest Estate 
        #login-or-profile.navbar-collapse.collapse(v-cloak)
            //- ul.nav.navbar-nav.text-center
            ul#logged-in.nav.navbar-nav.navbar-right(v-if="loggedIn")
                li
                    a.re-label(href='/curriculum') Curriculum
                li
                    a.re-label(href='/my-profile') My Profile
                li
                    a.re-label(href='/about') About
            ul#not-logged-in.nav.navbar-nav.navbar-right(v-if="!loggedIn")
                li
                    a.re-label(href='/log-in') Log In
		    
.space
.space
